body{
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgba(207, 82, 10, 0.952);
}

.titulo {
    font-family: monospace;
    color: black;
}

.subtitulo {
    font-family: monospace;
}
